# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [2]:
import numpy as np 
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [3]:
pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [4]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [5]:
pokemon['Legendary'].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [11]:
print('Normals:')
print(pokemon[~pokemon.Legendary]['Total'].mean())
print(pokemon[~pokemon.Legendary]['Total'].std())
print()
print('Legendaries:')
print(pokemon[pokemon.Legendary]['Total'].mean())
print(pokemon[pokemon.Legendary]['Total'].std())

Normals:
417.21360544217686
106.76041745713022

Legendaries:
637.3846153846154
60.93738905315346

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [15]:
from scipy.stats import ttest_ind

pv = ttest_ind(pokemon[pokemon.Legendary]['Total'],pokemon[~pokemon.Legendary]['Total'],equal_var=False).pvalue

print(pv)
print(pv < 0.05)

9.357954335957446e-47
True

What do you conclude from this test? Write your conclusions below.

In [16]:
# THERE IS A DIFFERENCE

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [17]:
pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [19]:
for i in pokemon['Type 1'].unique():
    print(i,' mean: ',(pokemon[pokemon['Type 1'] == i]['Total']).mean())
    print(i,' std: ',(pokemon[pokemon['Type 1'] == i]['Total']).std())

Grass  mean:  421.14285714285717
Grass  std:  106.6506263819414
Fire  mean:  458.0769230769231
Fire  std:  109.76049615338435
Water  mean:  430.45535714285717
Water  std:  113.18826606431458
Bug  mean:  378.92753623188406
Bug  std:  117.8752230165166
Normal  mean:  401.68367346938777
Normal  std:  115.73303771765518
Poison  mean:  399.14285714285717
Poison  std:  92.35868656562297
Electric  mean:  443.40909090909093
Electric  std:  105.72195173294949
Ground  mean:  437.5
Ground  std:  123.91308087890974
Fairy  mean:  413.1764705882353
Fairy  std:  123.78168043682679
Fighting  mean:  416.44444444444446
Fighting  std:  102.46437780003703
Psychic  mean:  475.94736842105266
Psychic  std:  139.0266445496576
Rock  mean:  453.75
Rock  std:  108.05922686947147
Ghost  mean:  439.5625
Ghost  std:  110.07268493019481
Ice  mean:  433.4583333333333
Ice  std:  108.28102694886786
Dragon  mean:  550.53125
Dragon  std:  146.26753754788714
Dark  mean:  445.741935483871
Dark  std:  109.12621675287613
Steel  mean:  487.7037037037037
Steel  std:  115.42090692325094
Flying  mean:  485.0
Flying  std:  161.40012391568973

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [21]:
for i in pokemon['Type 1'].unique():
    pv = ttest_ind(pokemon[pokemon['Type 1'] == 'Water']['Total'],pokemon[pokemon['Type 1'] == i]['Total'],equal_var=True).pvalue
    print(pv)
    print(pv < 0.05)

0.581639254174863
False
0.1440191557485167
False
1.0
False
0.0038548781665409104
True
0.07042188260586342
False
0.1778452340691479
False
0.5134433259970335
False
0.7615857927492209
False
0.5633643398463386
False
0.5578259589757799
False
0.023680970625352817
True
0.24328992443308184
False
0.6869629027430053
False
0.9055978314393027
False
2.1352166466685194e-06
True
0.5036228889206
False
0.020189304895386166
True
0.35207044547962285
False

In [23]:
pv = ttest_ind(pokemon[pokemon['Type 1'] == 'Water']['Total'],pokemon[pokemon['Type 1'] != 'Water']['Total'],equal_var=True).pvalue
print(pv)
print(pv < 0.05)

0.6587140317488793
False

Write your conclusion below.

In [10]:
# Water types are not distinct to the rest of the pokemon as a whole

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [26]:
from scipy.stats import ttest_rel

pv = ttest_rel(pokemon['Defense'],pokemon['Attack']).pvalue
print(pv)
print(pv < 0.05)

1.7140303479358558e-05
True

Describe the results of the test in the cell below.

In [12]:
# They are not related significantly

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [27]:
pv = ttest_rel(pokemon['Sp. Def'],pokemon['Sp. Atk']).pvalue
print(pv)
print(pv < 0.05)

0.3933685997548122
False

Describe the results of the test in the cell below.

In [28]:
# There is no significant difference between Sp Atk and Def

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [36]:
from scipy.stats import ttest_1samp
dif = pokemon['Defense']-pokemon['Attack']
pv = ttest_1samp(dif,0,alternative='two-sided').pvalue
print(pv)
print(pv < 0.05)
print(ttest_rel(pokemon['Defense'],pokemon['Attack']).pvalue == pv)

1.7140303479358558e-05
True
True

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [45]:
pokemon['is_water'] = pokemon['Type 1'].apply(lambda x : x=='Water')
x = pd.crosstab(index = pokemon['is_water'], columns = pokemon['Legendary'])
x

Legendary  False  True
is_water
False        627     61
True         108      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [49]:
from scipy.stats import chi2_contingency

chi_sq , pv , dof , ex  = chi2_contingency(x)
print(pv)

0.08625467249550949

Based on a 95% confidence, should we reject the null hypothesis?

In [50]:
pv < 0.05

False

In [51]:
# Reject