# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [70]:
import pandas as pd
import numpy as np

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [71]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

pokemon.columns = [e.lower().replace(' ', '_') for e in pokemon.columns]

Let's start off by looking at the `head` function in the cell below.

In [72]:
# Your code here:
pokemon.head()

,#,name,type_1,type_2,total,hp,attack,defense,sp._atk,sp._def,speed,generation,legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [73]:
# Your code here:
pokemon.legendary.value_counts()

False    735
True      65
Name: legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [74]:
# Your code here:
pokemon[pokemon['legendary'] == True].mean()

/var/folders/16/d29f83t16lq49d9rn8rf5yjh0000gn/T/ipykernel_3152/1364711326.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  pokemon[pokemon['legendary'] == True].mean()

#             470.215385
total         637.384615
hp             92.738462
attack        116.676923
defense        99.661538
sp._atk       122.184615
sp._def       105.938462
speed         100.184615
generation      3.769231
legendary       1.000000
dtype: float64

In [75]:
pokemon[pokemon['legendary'] == True].std()

/var/folders/16/d29f83t16lq49d9rn8rf5yjh0000gn/T/ipykernel_3152/1122022488.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  pokemon[pokemon['legendary'] == True].std()

#             173.651095
total          60.937389
hp             21.722164
attack         30.348037
defense        28.255131
sp._atk        31.104608
sp._def        28.827004
speed          22.952323
generation      1.455262
legendary       0.000000
dtype: float64

In [76]:
pokemon[pokemon['legendary'] == False].mean()

/var/folders/16/d29f83t16lq49d9rn8rf5yjh0000gn/T/ipykernel_3152/2554544579.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  pokemon[pokemon['legendary'] == False].mean()

#             353.315646
total         417.213605
hp             67.182313
attack         75.669388
defense        71.559184
sp._atk        68.454422
sp._def        68.892517
speed          65.455782
generation      3.284354
legendary       0.000000
dtype: float64

In [77]:
pokemon[pokemon['legendary'] == False].std()

/var/folders/16/d29f83t16lq49d9rn8rf5yjh0000gn/T/ipykernel_3152/3094990318.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  pokemon[pokemon['legendary'] == False].std()

#             208.590419
total         106.760417
hp             24.808849
attack         30.490153
defense        30.408194
sp._atk        29.091705
sp._def        25.669310
speed          27.843038
generation      1.673471
legendary       0.000000
dtype: float64

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [78]:
# Your code here:
from scipy.stats import ttest_ind 

x = pokemon[pokemon['legendary'] == False]

x = x.total

y = pokemon[pokemon['legendary'] == True]

y = y.total

ttest_ind(x, y)

Ttest_indResult(statistic=-16.386116965872425, pvalue=3.0952457469652825e-52)

What do you conclude from this test? Write your conclusions below.

In [79]:
# Your conclusions here:

# el pvalue tiene a cero, asi que podemos decir que rechazamos H0

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [80]:
# Your code here:
pokemon.type_1.value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: type_1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [81]:
c = pokemon[pokemon['type_1'] != 'Water'].std()

/var/folders/16/d29f83t16lq49d9rn8rf5yjh0000gn/T/ipykernel_3152/1786594299.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  c = pokemon[pokemon['type_1'] != 'Water'].std()

In [82]:
s = pokemon[pokemon['type_1'] == 'Water'].std()

/var/folders/16/d29f83t16lq49d9rn8rf5yjh0000gn/T/ipykernel_3152/4292944941.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  s = pokemon[pokemon['type_1'] == 'Water'].std()

In [83]:
ttest_ind(c, s)

Ttest_indResult(statistic=0.16760510038991525, pvalue=0.8687626471354021)

In [84]:
b = pokemon[pokemon['type_1'] != 'Water'].mean()

/var/folders/16/d29f83t16lq49d9rn8rf5yjh0000gn/T/ipykernel_3152/4053139200.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  b = pokemon[pokemon['type_1'] != 'Water'].mean()

In [85]:
v = pokemon[pokemon['type_1'] == 'Water'].mean()

/var/folders/16/d29f83t16lq49d9rn8rf5yjh0000gn/T/ipykernel_3152/420824069.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  v = pokemon[pokemon['type_1'] == 'Water'].mean()

In [86]:
ttest_ind(v, b)

Ttest_indResult(statistic=-0.12495908786675247, pvalue=0.9019409401007521)

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [112]:
# Your code here:
g = pokemon[pokemon['type_1'] == 'Water'].total

j = pokemon[pokemon['type_1'] != 'Water'].total

ttest_ind(j, g)

Ttest_indResult(statistic=0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [88]:
# Your conclusions here:

# El pvalor no supera el umbral, asi que podemos decir que No podemos rechazar H0

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [118]:
# Your code here:
from scipy.stats import ttest_rel 
from scipy.stats import ttest_1samp

In [133]:
ttest_rel(pokemon.attack, pokemon.defense)

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [120]:
# Your conclusions here:

# el resultado tiende a 0, lo que podemos rechazar h0

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [135]:
# Your code here:
ttest_rel(pokemon['sp._atk'], pokemon['sp._def'])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [92]:
# Your conclusions here:

# podemos ver que el pvalue no sobre pasa el umbral asi que No podemos rechazar H0

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [129]:
# Your code here:
    
ttest_1samp(pokemon.attack - pokemon.defense, 0)

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [130]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [128]:
# Your code here:

Ttest_1sampResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Based on a 95% confidence, should we reject the null hypothesis?

In [96]:
# Your answer here: