# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [46]:
import pandas as pd
import numpy as np
from statsmodels.stats.proportion import proportions_ztest
from scipy.stats import ttest_rel
from scipy.stats import ttest_ind
from scipy.stats import ttest_1samp

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [6]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')
pokemon.columns = [e.lower().replace(' ','_') for e in pokemon.columns]

Let's start off by looking at the `head` function in the cell below.

In [7]:
# Your code here:
pokemon.head()

,#,name,type_1,type_2,total,hp,attack,defense,sp._atk,sp._def,speed,generation,legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [9]:
pokemon.legendary.value_counts()

False    735
True      65
Name: legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [28]:
legendary = pokemon[pokemon.legendary == True]

In [29]:
legendary.total.mean()

637.3846153846154

In [32]:
legendary.total.std()

60.93738905315346

In [30]:
non_legendary = pokemon[pokemon.legendary == False]

In [31]:
non_legendary.total.mean()

417.21360544217686

In [33]:
non_legendary.total.std()

106.76041745713022

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [40]:
ttest_ind(non_legendary.total, legendary.total, equal_var = False)

Ttest_indResult(statistic=-25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

**Si**  *(al estilo javierano)*

**H0** -> no son significativamente diferentes

**H1** -> son significativamente diferentes

Podemos rechazar H0.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [37]:
pokemon.type_1.value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: type_1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [41]:
water = pokemon[pokemon.type_1 == 'Water']

In [42]:
non_water = pokemon[pokemon.type_1 != 'Water']

In [44]:
water.total.mean(), water.total.std()

(430.45535714285717, 113.18826606431458)

In [45]:
non_water.total.mean(), non_water.total.std()

(435.85901162790697, 121.09168230208066)

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [59]:
ttest_ind(non_water.total, water.total, equal_var = True)

Ttest_indResult(statistic=0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

Sacaría conclusiones si tuviese idea, pero como no entiendo mucho, no tengo conclusión.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [61]:
pokemon.head()

,#,name,type_1,type_2,total,hp,attack,defense,sp._atk,sp._def,speed,generation,legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [63]:
ttest_rel(pokemon.attack, pokemon.defense)

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

**H0** -> defense and attack scores are equal

**H1** -> there is at least one difference between attack and defense

Podemos rechazar H0

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [65]:
ttest_rel(pokemon['sp._atk'], pokemon['sp._def'])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

**H0** -> mean of special defense and mean of special attack scores are equal

**H1** -> there is at least one difference between mean of special defense and mean of special attack scores

No podemos rechazar H0

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [66]:
ttest_1samp(pokemon.attack - pokemon.defense, 0)

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [69]:
crossed_table = pd.crosstab(pokemon.type_1, pokemon.legendary)

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [72]:
from scipy.stats import f_oneway, norm, f, chi2, chi2_contingency

In [74]:
ji_dos, pval, dof, ex = chi2_contingency(crossed_table)
ji_dos, pval, dof, ex

(90.42049130585958,
 5.118547414721707e-12,
 17,
 array([[ 63.39375,   5.60625],
        [ 28.48125,   2.51875],
        [ 29.4    ,   2.6    ],
        [ 40.425  ,   3.575  ],
        [ 15.61875,   1.38125],
        [ 24.80625,   2.19375],
        [ 47.775  ,   4.225  ],
        [  3.675  ,   0.325  ],
        [ 29.4    ,   2.6    ],
        [ 64.3125 ,   5.6875 ],
        [ 29.4    ,   2.6    ],
        [ 22.05   ,   1.95   ],
        [ 90.0375 ,   7.9625 ],
        [ 25.725  ,   2.275  ],
        [ 52.36875,   4.63125],
        [ 40.425  ,   3.575  ],
        [ 24.80625,   2.19375],
        [102.9    ,   9.1    ]]))

Based on a 95% confidence, should we reject the null hypothesis?

Pvalue is very close to 0 so we can reject H0